.add-user {
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
  padding-left: 50px;
}

.add-user-input {
  width: 250px;
  height: 30px;
  display: block;
}

.add-user-btn {
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
}

.display-users {
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
  margin-top: 10px;
  padding-left: 50px;
  overflow-y: auto;
}

.user-item {
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-item span{
  padding: 5px 10px;
  background-color: skyblue;
  border-radius: 5px;
}

.user-item button {
  align-self: stretch;
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
}

.links-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
